/*  your css code here. If applicable */
body{
	width:1100px;
	background-color:#cbd6cb;
	display:block;
}

.imageContainer{
	width:100%;
	box-sizing: border-box;
}

.table{
	border:1px solid black;
	box-sizing: border-box;
}

.col1{
	border:1px solid black;
	box-sizing: border-box;
}
.col2{
	border:1px solid black;
	box-sizing: border-box;
}
.col3{
	border:1px solid black;
	box-sizing: border-box;
}
.img{
	width:200px;
}

.text{
	text-align:center;
}


